h1 {
  font-family: fantasy, sans-serif;
  font-size: 20px;
  padding: 20px;
}

body {
  text-align: center;
}

td {
  border: 1px;
  padding: 10px 20px;
}

#resultsTable{
  margin: 0 auto;
}

table {
  padding-top: 150px;
  padding-bottom: 50px;
}
/* .img {
  position: relative;
  width: 200px;
  height: 200px;
  background-position: 50%;
} */
img {
  
  height: 500px;
  width: 500px;
  object-fit: contain;
  border: 6px solid grey;
}

img:nth-child(2) {
  margin: 0px 75px 0px 75px;
}

tr:nth-child(even) {
  background-color: lightblue;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: lightsalmon;
  text-align: center;
}


/* body {
  margin: auto;
  background-color: lightgray;
}

div h1 {
  font-size: 50px;
  font-family: fantasy;
}

#right {
  max-height: 200px;
  max-width: 100%;
  margin: auto;
}

#left {
  max-height: 200px;
  max-width: 100%;
  margin: auto;

}

#middle {
  max-height: 200px;
  max-width: 100%;
  margin: auto;
}
article {
  text-align: center;
}

article div {
  display: inline-block;
}

canvas {
  width: 90%;
  height: auto;
  margin: auto;
}

header div{
  text-align: center;
  margin-bottom: 50px;
} */
