*{
  text-align:center;
}

h1 {
  font-family: fantasy, sans-serif;
  font-size: 40px;
  padding: 20px;
  color: red;
}

h2 {
  padding-bottom: 5px;
  margin: 50px;
  font-size: 20px;
  color: darkred;
}

body {
  display: center;
  height: 100%;
  width: 50%;
}


td {
  border: 1px;
  padding: 10px 20px;
}

#resultsTable{
  margin: 0 auto;
}

table {
  padding-top: 250px;
  padding-bottom: 50px;
}

img {
  height: 300px;
  width: 300px;
  object-fit: contain;
  border: 6px solid grey;
  /* display: inline-block; */
  
}


section {
  float: left;
  display: flex;
  padding: 5px;
}

/* #myChart {
  height: 400px;
  width: 1000px !important;
} */

#chartsize {
  width: 1000px;
}
/* body {
  margin: auto;
  background-color: lightgray;
}

div h1 {
  font-size: 50px;
  font-family: fantasy;
}

#right {
  max-height: 200px;
  max-width: 100%;
  margin: auto;
}

#left {
  max-height: 200px;
  max-width: 100%;
  margin: auto;

}

#middle {
  max-height: 200px;
  max-width: 100%;
  margin: auto;
}
article {
  text-align: center;
}

article div {
  display: inline-block;
}

canvas {
  width: 90%;
  height: auto;
  margin: auto;
}

header div{
  text-align: center;
  margin-bottom: 50px;
} */
